<extend name="Public/empty"/>
<block name="css">
	<link rel="stylesheet" id="css" href="__PUBLIC__/css/signStyle.css">
</block>

<style>


</style>


<block name="register-content">
	<div class="body-bg">
	</div>


	<!-- 页面主体 -->
	<div class="c-page-body">

		<!-- 主体内容 start -->
		<div class="c-main-container">
			<div class="sign-in-up-box">


				<div class="input-wrapper">
					<span>用户名</span>
					<input type="text" class="form-control" placeholder="Username">
					<p class="count"></p>
					<span class="err"></span>
				</div>
				<div class="input-wrapper">
					<span>密码</span>
					<input type="password" class="form-control" placeholder="Password">
					<p class="count"></p>
					<span class="err"></span>
				</div>
				<div class="input-wrapper">
					<span>重复密码</span>
					<input type="password" class="form-control" placeholder="Password">
					<span class="err"></span>
				</div>

				<div class="box-bg"></div>


				<button type="submit" id="sign-btn" class="register-btn">注册</button>
			</div>
		</div>
		<!-- 主体内容 end -->
	</div>
	<!-- 页面主体 end -->
</block>










<block name="javascript">
	<script src="__PUBLIC__/js/register.js"></script>
</block>
